/*Header*/
header {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    font-size: larger;
    background-color: rgb(74, 7, 7);
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

header h1 {
    justify-content: flex-end;
    display: flex;
    float: left;
    color: white;
    font-style: bold;
    padding-left: 60px;
    padding-right: 10px;
    background-color: black;
}

header h2 {
    justify-content: space-between;
    display: flex;
    color: white;
}

header nav {
    justify-content: space-between;
    display: flex;
    float: left;
    padding-top: 6px;
}

header ul {
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul :hover {
    background-color: black;
    color: white;
    border-radius: 50px;
}

header nav ul li {
    justify-content: space-between;
    display: inline-block;
    color: white;
}

header nav ul li a {
    justify-content: space-between;
    display: inline-block;
    color: white;
    padding: 30px;
    text-align: center;
    font: bold;
}

/*Sub-Header*/
.sub {
    justify-content: flex-end;
    display: flex;
    background-image: linear-gradient(to right, rgb(14, 14, 73), rgb(14, 14, 93), rgb(5, 5, 44), blue, rgb(3, 3, 49));
    color: white;
    padding-top: 40px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}


/*About Me*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bio h1 {
    text-align: right;
    border-right: 5px solid rgb(26, 77, 195);
    padding-right: 5px;
    font-size: 36px;
}

.bio p {
    font-size: 32px;
    padding-left: 10px;
}

/*Projects*/
.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects h1 {
    display: flex;
    text-align: right;
    border-right: 5px solid rgb(26, 77, 195);
    padding-right: 5px;
    font-size: 36px;
    float: left;
}

.projects nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.projects nav ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid black 5px;
    border-right: solid black 5px;
    border-bottom: solid black 5px;
    border-left: solid black 5px;
    margin: 0 auto;
}

.projects nav ul li img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/*Contact Me*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer section h1 {
    display: flex;
    text-align: right;
    margin-left: 200px;
    border-right: 5px solid rgb(26, 77, 195);
    padding-right: 5px;
    font-size: 36px;
}

footer section nav {
    display: flex;
    padding-left: 100px;
}

footer section nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    font-size: 40px;
}

footer section nav ul li {
    justify-content: space-between;
    display: flex;
}

/*Resume*/